doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title ShopEra : where Tradition meats Aesthetics
  link(rel='stylesheet' href='../static/style.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Roboto:wght@500&display=swap' 
  rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css' integrity='sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==' crossorigin='anonymous' referrerpolicy='no-referrer')

block scripts
  script(src="/static/index.js")

block content
#head
  #head-1
    h1 ShopEra
    h4 :: Find your Merch
  i.fa-solid.fa-chevron-down
#content
  #side-nav
    img#nav-logo(src='/static/photos/logo1.jpg' alt='logo')
    #nav-tabs 
      a(href='#')
        img(src='/static/photos/search-icon.png')
      a(href='#')
        img(src='/static/photos/cart-icon.png')
      a(href='#')
        img(src='/static/photos/deals-icon.png')
      a(href='#')
        img(src='/static/photos/family-icon.png')
      a(href='#')
        img(src='/static/photos/order-icon.png')
      a(href='#')
        img(src='/static/photos/setting-icon.png')
      a(href='/login') 
        img#user-logo(src='/static/photos/people_icon.jpeg') 
  #main-sec
    #hero
      h1 UPGRADE  YOUR  WORKSTYLE
      button
        b
          li #[a(href='/shopsite')] SHOP NEW STYLES
    #topr
      .topr-1
        img(src='/static/photos/tpr-1.avif')
        h3 WINTER WHITES GUIDE
      .topr-1
        img(src='/static/photos/Features2_1624caa8-78d1-4b48-bef0-d6da64e405d2_400x.avif')
        h3 RELAXED PANTS
      .topr-1
        img(src='/static/photos/trp-3.avif')
        h3 SWEATER POLOS
      .topr-1
        img(src='/static/photos/tpr-4.avif')
        h3
          | NEW SHIRT JACKETS
    h1(style="background-color: antiquewhite; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; padding: 40px 30px; border-top-left-radius:30px;border-top-right-radius:30px; ;") Casuals
    #items
      #boxi
        img(src='/static/photos/hood1.jpeg' alt='Rs. 1,499.00\
        3-pack DryMove™ Sports trunks\
        H&M Move undies and sweats\
        Nothing competes to the comfy cuts & sweat-wicking tech of DryMove™ undies.\
        Back to start SORT BYSIZECOLOURPATTERNPRODUCT TYPEALL FILTERS\
        Zip-through sports hoodieSAVE AS FAVOURITE')
        span
          h4(style='padding-top:10px') Zip-through sports hoodie
          h4(style='padding-top:5px') Rs.4,600.00
      #boxi
        img(src='/static/photos/low1.jpeg' alt='lower')
        span
          h4(style='padding-top:10px') DryMove&trade; Cotton cargo joggers
          h4(style='padding-top:5px') Rs.3,700.00
      #boxi
        img(src='/static/photos/hood2.webp' alt='hoodie')
        span
          h4(style='padding-top:10px') DryMove&trade; Loose Fit Training hoodie
          h4(style='padding-top:5px') Rs.4,600.00
      #boxi
        img(src='/static/photos/sando1.webp' alt='snado')
        span
          h4(style='padding-top:10px') DryMove&trade; Sports vest top
          h4(style='padding-top:5px') Rs.999.00
      #boxi
        img(src='/static/photos/hood4.webp' alt='hoodie')
        span
          h4(style='padding-top:10px') DryMove&trade; Sports vest top
          h4(style='padding-top:5px') Rs.4,000.00
      #boxi
        img(src='/static/photos/low2.jpeg' alt='lower')
        span
          h4(style='padding-top:10px') DryMove&trade; Wide sports joggers
          h4(style='padding-top:5px') Rs.2,600.00
      #boxi
        img(src='/static/photos/hmgoepprod.jpeg' alt='shorts')
        span
          h4(style='padding-top:10px') 3-pack DryMove&trade; Sports trunks
          h4(style='padding-top:5px') Rs.1,300.00
      #boxi
        img(src='/static/photos/hood3.webp' alt='hoodie')
        span
          h4(style='padding-top:10px') DryMove&trade; Sports sweatshirt
          h4(style='padding-top:5px') Rs.4,900.00
#aboutus
  input#ch(type='checkbox')
  h1 THE ULTIMATE MENSWEAR DESTINATION
  #about-1.us
    | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam cum, facere modi expedita voluptatem corporis eligendi veniam, veritatis est adipisci vel neque, ad cumque. Voluptatem, minus consequuntur! Quis tenetur corporis veniam error temporibus sapiente quisquam molestiae quas quasi dolor voluptates cupiditate earum a excepturi ipsam perferendis officiis, ut quam accusamus perspiciatis suscipit ab maxime vero? Cum nihil provident tempora recusandae id adipisci consequuntur quas quia voluptas sint quasi odit repellat, officiis debitis, nam iusto beatae tempore maiores ipsa perspiciatis fugiat nemo dolores suscipit?
  #check
    #about-1.us
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque id suscipit architecto modi officia quaerat consectetur omnis praesentium non laboriosam esse explicabo, possimus voluptate consequuntur facere, impedit dicta, amet minima qui quidem aspernatur! Quae repudiandae sed totam ducimus iure sint id reprehenderit quibusdam quisquam itaque omnis aspernatur placeat tempora optio illo, iusto nihil voluptatibus consectetur illum autem? Enim, est commodi exercitationem repellendus iure provident porro accusamus ipsum sed voluptates neque cum alias perspiciatis. 
    #about-1.us
      | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci iste mollitia vitae ipsa natus voluptates aperiam, optio commodi neque, dolore iusto, sint corporis dolorum id. Fugit sint aspernatur aliquam culpa amet impedit, asperiores doloremque nulla repudiandae voluptatibus unde. Iusto ea quae odit inventore blanditiis molestias pariatur velit eum voluptatum illum incidunt consequuntur est voluptate hic veniam possimus iste, expedita laudantium perferendis. Sit exercitationem temporibus illum, inventore aliquam suscipit ea odio autem molestiae veritatis odit, obcaecati repellat impedit reprehenderit nulla expedita.
    #about-1.us
      | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima animi doloremque nihil consectetur tempore voluptatibus nostrum sunt nobis mollitia eius veritatis, pariatur dignissimos modi iste consequuntur deserunt exercitationem vitae enim autem molestias. Accusamus rerum iste officiis? Nam ea ipsa iste voluptatibus tenetur, odit consequatur quasi illo maxime. Quae, nihil eius?
      
    label#lb-1(for='ch') READ LESS
  br
  label#lb-2(for='ch') READ MORE
// Remove the container if you want to extend the Footer to full width.
block foot
    div#footer
        | Copyright © 2024 Natty.com | All rights reserved
