<!DOCTYPE html>
html(lang="en")
    head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      title ShopEra : where Tradition meats Aesthetics
block scripts
    script(src="/static/index.js")

block style 
    style 
        include ../static/LoginStyle.css

block content
    section#main-section 
        div#login-container    
            div#image1
                a(href="/login") 
                    img(src="/static/photos/logo1.jpg", alt="ShopEra")
            div#container 
                form#form1(action="/login", method="post") 
                    h3 User Login
                    label.form Email 
                        input(type="email", name="email",autocomplete="on")
                    label.form Password
                        input(type="password", name="password")
                    
                    p.form Forget Password 
                        a(href="/forget") Reset Password
                    p.form Dont have account
                        a(href="/signup") Sign Up                    
                    input.final(type="submit",value="Log In")
                    


block foot
    div#footer
        | Copyright © 2024 Natty.com | All rights reserved